body{
    margin: 0;
    padding: 0;
}

.header{

    width: 100%;
    z-index: 1;/* estamos volviendo tridimensional: el numero es la posicion entre mas alto mayor prioridad */
    
}
.headerStyle{
    color:rgb(72, 206, 230);
}
.datosPersonajes{
    margin-top: 140px;
    margin-bottom: 60px;
}